{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="login-container right col-9">
    <h3 class="text-center mb-4">修改密码</h3>
    <form id="changePasswordForm" method="post" action="{% url 'change_password' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="old_password" class="form-label">当前密码：</label>
            <input type="password" id="old_password" name="old_password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="new_password1" class="form-label">新密码:</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1" required>
        </div>
        <div class="mb-3">
            <label for="new_password2" class="form-label">确认密码:</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-3">修改密码</button>
    </form>

</div>

<script>
function validateForm() {
    var current_password = document.getElementById("old_password").value;
    var new_password = document.getElementById("new_password1").value;
    var confirm_password = document.getElementById("new_password2").value;

    if (current_password === "") {
        showAlert('Oops...', '原始密码不能为空');
        return false;
    }
    if (new_password === "") {
        showAlert('Oops...', '新密码不能为空');
        return false;
    }
    if (confirm_password === "" || new_password !== confirm_password) {
        showAlert('Oops...', '新密码与确认密码不一致');
        return false;
    }
    return true;
}

function showAlert(title, text, icon = 'error') {
    Swal.fire({
        icon: icon,
        title: title,
        html: text,
    })
}

function showSuccessAlert(title, text) {
    Swal.fire({
        icon: 'success',
        title: title,
        text: text,
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = "{% url 'user_login' %}";
        }
    })
}

document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector('form');
    form.addEventListener("submit", function (event) {
        event.preventDefault();
        if (!validateForm()) return;

        // 使用 fetch API 发送POST请求
        let formData = new FormData(form);
        fetch("{% url 'change_password' %}", {
            method: "POST",
            body: formData,
            headers: {
                "X-Requested-With": "XMLHttpRequest",
                "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
            }
        }).then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status === 'success') {
                    showSuccessAlert('成功', data.message || '密码修改成功');
                } else if (data.status === 'error') {
                    let errorMessage = `<ul>`;
                    try {
                        let message = JSON.parse(data.message);
                        // 构造错误消息
                        for (const field in message) {
                            if (message.hasOwnProperty(field)) {
                                message[field].forEach(error => {
                                    errorMessage += `<li style="color:red;text-align:left;margin-left:100px;">${error.message}</li>`
                                });
                            }
                        }
                        errorMessage += `</ul>`;
                    } catch (e) {
                        // 如果不是JSON格式，直接使用message
                        errorMessage = data.message;
                    }
                    showAlert('错误', errorMessage);
                    console.log(errorMessage)
                }
            });
    });
})
</script>


{% endblock %}