.tit {
    margin-top: 30px;
    height: 40px;
    /* line-height: 50px; */
}

.tit img {
    width: 40px;
    /* margin: 0; */
    /* height: 50px; */
    /* line-height: 50px; */
}

.img {
    text-align: right;
}

.tit h1 {
    /* display: inline-block; */
    /* height: 100px; */
    line-height: 40px;
    margin: 0;
    padding: 0;
    /* font-size: 20px; */
    font-size: 1.5em;
    text-align: left;
    /* float: right */
}

.menu li {
    height: 80px;
    line-height: 80px;
}

.menu ul li a {
    /* display: inline-block; */
    padding-left: 15px;
    text-decoration: none;
    color: gray;
    font-size: larger;
}

.menu li i {
    font-size: larger;
    color: gray;
}

.search {
    margin-top: 2em;
}

.check_col {
    width: 2em;
}

.list a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
}