h1 {
    font-size: 1.5em;
    margin: 1em 0;
    text-align: center;
}

.with-help{
    display: inline-block;
    width: 65%;
}
.mb-3{
    margin-bottom: 0 !important;
}

.buttons {
    margin-top: 2em;
}

/* .form_container input {
    width: 70%;
}

.form_container .row {
    margin-left: calc(30%/2);
}

.btn-danter {
    width: auto !important;
} */